.card
  .card-content
    %h2.title.is-5=workout.date
    - pr_sets_by_line = workout.exercise_sets.filter {|es| es.pr? }.group_by(&:line_number)
    %table.workout
      %tbody
        - workout.raw_text.split("\n").each_with_index do |line, index|
          %tr
            %td.pr-indicator
              - if pr_sets_by_line[index + 1].present?
                %span ⭐️
            %td
              %pre= line
  .card-footer
    = link_to "Edit", edit_workout_path(workout), class: "card-footer-item button"
    = link_to "Delete", workout_path(workout), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Really?!?" }, class: 'card-footer-item button'
